* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.App {
  display: flex;
  flex-direction: row;
  padding: 10px ;
}

.Quiz{
  flex: 1;
  padding: 10px;
}

.divider {
  border-left: 6px solid green;
  height: 1067px;
}
